<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980640668438-m01a23oe03k1jbh8mj81lsh0unkbni75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980640668438-m01a23oe03k1jbh8mj81lsh0unkbni75</string>
	<key>API_KEY</key>
	<string>AIzaSyDI7G_qfqoWRbHlYK_f51Tza-ppdsFShFw</string>
	<key>GCM_SENDER_ID</key>
	<string>980640668438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.perpet</string>
	<key>PROJECT_ID</key>
	<string>perpet-e4923</string>
	<key>STORAGE_BUCKET</key>
	<string>perpet-e4923.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980640668438:ios:c1e7fa5410d57441a88e37</string>
</dict>
</plist>